/* 
Import the desired font from Google fonts. 
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* 
Define all colors used in this template 
*/
:root{
  --font-color: black;
  --highlight-color: #60D0E4;
  --header-bg-color: #B8E6F1;
  --footer-bg-color: #BFC0C3;
  --table-img-bg-color: #BFC0C3;
}

@page{
  size:A4;
  margin:9cm 0 3cm 0;

  @top-left{
  	content:element(header);
  }

  @bottom-left{
  	content:element(footer);
  }
}

body{
  margin:0;
  padding:1cm 2cm;
  color:var(--font-color);
  font-family: 'Montserrat', sans-serif;
  font-size:10pt;
}

a{
  color:inherit;
  text-decoration:none;
}

hr{
  margin:1cm 0;
  height:0;
  border:0;
  border-top:1mm solid var(--highlight-color);
}

header{
  height:3.5cm;
  padding:0 2cm;
  position:running(header);
  background-color:var(--header-bg-color);
}

header .headerSection{
  display:flex;
  justify-content:space-between;
}

header .headerSection:first-child{
  padding-top:.5cm;
}

header .headerSection:last-child{
  padding-bottom:.5cm;
}

header .headerSection div:last-child{
  width:35%;
}

header .headerSection:last-child div:last-child{
  width:auto;
}

header .logoAndName{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

header .logoAndName img{
  width:1.5cm;
  height:1.5cm;
  margin-right:.5cm;
}

header .headerSection .shippingDetails{
  padding-top:1cm;
}

header .headerSection .billTo,
header .headerSection .shipTo{
  display:flex;
  justify-content:space-between;
}

header .headerSection .billTo h3,
header .headerSection .shipTo h3{
  margin:0 .75cm 0 0;
  color:var(--highlight-color);
}

header .headerSection div p{
  margin-top:2px;
}

header h1,
header h2,
header h3,
header p{
  margin:0;
}

header h2,
header h3{
  text-transform:uppercase;
}

header hr{
  margin:1cm 0 .5cm 0;
}

main table{
  width:100%;
  border-collapse:collapse;
}

main table thead th{
  height:1cm;
  color:var(--highlight-color);
}

main table thead th:last-of-type{
  width:2.5cm;
}

main table tbody td{
  padding:6mm 0;
}

main table tbody td img{
  width:1.2cm;
  height:1.2cm;
  fill:var(--table-img-bg-color);
  float:left;
  margin-right:.5cm;
}

main table th{
  text-align:left;
}

.notes{
  margin-top:4cm;
}

aside{
  -prince-float: bottom;
  padding:0 2cm 2cm 2cm;
}

.notes p,
aside p{
  margin:0;
  width:50%;
}

footer{
  height:3cm;
  line-height:3cm;
  padding:0 2cm;
  position:running(footer);
  background-color:var(--table-img-bg-color);
  font-size:8pt;
  display:flex;
  align-items:baseline;
  justify-content:space-between;
}

footer a:first-child{
  font-weight:bold;
}